body {
  margin: 0;
  padding: 0;
}

.opacity {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  height: 100vh;
  width: 100%;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('images/cloud.jpg') no-repeat center center;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: ghostwhite;
  height: auto;
  mix-blend-mode: screen;
}

.quote {
  font-family: Microsoft Sans Serif;
}

.author {
  font-family: Snell Roundhand;
  align-self: flex-end;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-self: stretch;
  justify-content: center;
  align-items: center;
}

.sm-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  border-radius: 5px;
}

.new-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  font-family: Arial Unicode MS;
  border-radius: 5px;
  margin-left: auto;
}

@media (min-width: 700px) {
  .card {
    width: 600px;
    height:300px;
    border-radius: 15px;
  }
  .quote {
    font-size: 32px;
    margin: 40px 45px 20px 45px;
  }
  .author {
    margin: 0px 45px 35px 0px;
    font-size: 24px;
  }
  .buttons {
    margin: 0px 45px 40px 45px;
  }
  .sm-button {
    height: 38px;
    width: 38px;
    margin-right: 10px;
  }
  .sm-img {
    height: 20px;
    width: auto;
  }
  .new-button {
    font-size: 15px;
    height: 38px;
    width: 110px;
  }
}

@media (max-width: 700px) {
    .card {
    width: 350px;
    height:auto;
    border-radius: 15px;
  }
  .quote {
    font-size: 30px;
    margin: 40px 45px 20px 45px;
  }
  .author {
    margin: 0px 45px 35px 0px;
    font-size: 20px;
  }
  .buttons {
    margin: 0px 45px 40px 45px;
  }
  .sm-button {
    height: 38px;
    width: 38px;
    margin-right: 10px;
  }
  .sm-img {
    height: 20px;
    width: auto;
  }
  .new-button {
    font-size: 15px;
    height: 38px;
    width: 110px;
  }
}